
  .bg-custom-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    z-index: -1;
  }
  
  .your-content {
    position: relative;
    z-index: 2;
  }
  .reveal-image {
    transform: translateY(50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 0;
  }
  
  .reveal-image.visible {
    transform: translateY(0);
    opacity: 1;
  }
  